parameters:
	ignoreErrors:
		-
			message: '#^Class PHPUnit\\Framework\\MockObject\\Generator not found\.$#'
			identifier: class.notFound
			count: 2
			path: src/AbstractMocked.php

		-
			message: '#^Method QratorLabs\\SmockyPHPUnit\\Test\\fixtures\\ClassWithMethods\:\:privateMethod\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: test/phpunit/fixtures/ClassWithMethods.php
