parameters:
	ignoreErrors:
		-
			message: '#^Method QratorLabs\\SmockyPHPUnit\\Test\\fixtures\\ClassWithMethods\:\:privateMethod\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: test/phpunit/fixtures/ClassWithMethods.php
