name: PHP Composer

on:
  push:
    branches: [ main, v1, v2 ]
  pull_request:
    branches: [ main, v1, v2 ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
            php-version: 8.4

      - uses: actions/checkout@v2

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run phpstan
        run: composer run-script phpstan

      - name: Run rector:test
        run: composer run-script rector:test

      - name: Run phpcs
        run: composer run-script phpcs

      - name: Run phpunit
        run: composer run-script phpunit
